.add-group {
    border-radius: 12px;

    .add-group-btn {
        display: flex;
        min-width: 250px;
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
        align-items: flex-start;
        padding: 12px 12px 12px 12px;
        border-radius: 12px;
        color: white;
        background-color: #ffffff3d;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #ffffff23;
        }
    }

    .group-input {
        min-height: 20px;
        max-height: 256px;
        margin: 0;
        padding: 6px 12px;
        overflow: hidden;
        border-radius: 4px;
        color: var(--ds-text, #172b4d);
        font-weight: 600;
        resize: none;
        overflow-wrap: break-word;
    }

    .add-new-group {
        width: 82px;
        height: 32px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: normal;

        background-color: #0c66e4;
        color: #ffff;

        border-radius: 3px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #075cd1;
        }
    }

    .cancel-add-group {
        color: #172b4d;
        background: none;
        font-size: 16px;
        border: none;
        padding: 6px 12px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        align-self: flex-start;

        &:hover {
            color: #8b99a5;
        }
    }
}