.card-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 16px 8px 8px;

    h3 {
        display: flex;
        justify-items: start;
        color: #44546f;
        font-size: 12px;
        line-height: 16px;
        line-height: 20px;
        margin-bottom: -4px;
    }

    .sidebar-item {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 32px;
        width: 100%;
        gap: 8px;
        border: none;
        border-radius: 3px;

        background-color: #091e420f;
        color: #172b4d;

        margin-top: 8px;
        padding: 6px 12px;
        cursor: pointer;

        &:hover {
            background-color: #091e4223;
        }
    }
}