.color-picker {
  h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }

  .color-options {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    gap: 40px;
  }

  .color-btn {
    width: 55px;
    height: 57px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}