.group-menu {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    position: relative;


    .menu-btn {
        width: 32px;
        height: 32px;
        font-size: 16px;
        padding: 8px;
        line-height: 1;
        border: none;
        background: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: #091e4225;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }

    .menu-dropdown {
        position: absolute;
        top: 130%;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        padding: 8px 0;
        min-width: 300px;
        font-size: 14px;

        button {
            display: block;
            width: 100%;
            padding: 8px 12px;
            background: none;
            border: none;
            color: #172b4dd6;
            text-align: left;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}