.add-checklist {
    width: 74px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: normal;
    margin: 14px 0px;

    background-color: #0c66e4;
    color: #ffff;

    border-radius: 3px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #075cd1;
    }
}

.checklists {

    .checklist {
        display: grid;
        grid-column: span 2;
        gap: 10px 0px;
        grid-template-columns: subgrid;
        margin-bottom: 15px;

        img {
            width: 24px;
            height: 24px;
        }

        .checklist-title {
            display: flex;
            justify-content: space-between;

            .delete-checklist-btn {
                display: flex;
                justify-items: center;
                align-items: center;
                height: 32px;
                gap: 8px;
                border: none;
                border-radius: 3px;
                background-color: rgba(9, 30, 66, 0.0588235294);
                color: #172b4d;
                padding: 6px 12px;
                cursor: pointer;

                &:hover {
                    background-color: #091e4223;
                }
            }
        }

        .checklist-header {
            grid-column: 1/-1;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .checklist-percent {
            justify-self: start;
            grid-column: 1/2;
            font-size: 11px;
            padding-inline-start: 3px;
        }

        .checklist-progress {
            display: flex;
            grid-column: 2/-1;
            align-items: center;


            progress {
                width: 100%;
                height: 8px;
                margin-right: 10px;
                -webkit-appearance: none;
                appearance: none;
            }

            progress::-webkit-progress-bar {
                background-color: #e6e6e6;
                border-radius: 3px;
            }

            progress::-webkit-progress-value {
                background-color: #0079bf;
                border-radius: 3px;
            }

            span {
                font-size: 14px;
                font-weight: bold;
            }

            .checklist-percent {
                margin-right: 10px;
                font-size: 11px;
                line-height: 10px;
                text-align: center;
                color: #44546f;

            }
        }

        .checklist-items {
            grid-column: 1/-1;
            list-style: none;
            padding-left: 0;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 500;
                color: #172b4d;

                input[type="checkbox"] {
                    margin-right: 10px;
                }
            }

            .checkbox-item {
                cursor: pointer;
                width: 16px;
                height: 16px;
            }
        }
    }

    .checklist-item-adder {
        display: flex;
        flex-direction: column;
        grid-column: 2/-1;

        input {
            flex-grow: 1;
            height: 56px;
            margin-right: 5px;
            padding: 10px;
            border: none;
            box-shadow: inset 0 0 0 2px #388bff;

            &:focus-visible {
                outline: none;
            }
        }

        button {
            padding: 5px 10px;
            background-color: $btn-color;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: $btn-hover-color;

            }
        }
    }

}