.task-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-modal-prev {
        display: flex;
        float: left;
        column-gap: 6px;
        font-size: 14px;

        .task-prev-item {
            display: flex;
            line-height: 1;
            color: #44546f;
            font-size: 13px;
            padding: 3px;
            gap: 2px;

            &.date {
                background: #F5CD47;
                width: fit-content;
            }

            &.checklist.finished {
                color: white;
                background-color: #1f845ae3;
                padding: 5px;
                border-radius: 3px;
            }
        }


    }


}