.add-group {
    border-radius: 12px;
    padding: 6px 6px 6px 6px;
    background-color: $group-color;

.add-group-btn {
        flex-direction: column;
        gap: 10px;
        border-radius: 12px;
        padding: 16px;
        align-items: center;
        cursor: pointer;
        min-width: 250px;
        border: none;
        font-size: 14px;

        &:hover {
            background-color: #d4d4d4;
        }

        .add-list-text {
            font-size: 1.2rem;
            color: #333333;
            font-weight: bold;
        }
    }

    .group-input {
        padding: 8px 12px 8px 12px;
        width: 256px;

        font-size: 14px;
        line-height: 20px;
        text-align: start;
        letter-spacing: normal;

        border-radius: 3px;
    }

    .add-new-group {
        width: 82px;
        height: 32px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: normal;

        background-color: #0c66e4;
        color: #ffff;

        border-radius: 3px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #075cd1;
        }
    }

    .cancel-add-group {
        color: #172b4d;
        background: none;
        font-size: 16px;
        border: none;
        padding: 6px 12px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        align-self: flex-start;

        &:hover {
            color: #8b99a5;
        }
    }
}
