.add-task {

    .add-a-card-btn {
        display: flex;
        align-items: center;
        width: 220px;
        height: 32px;

        line-height: 20px;
        text-align: left;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: 500;
        box-shadow: none;
        background: none;
        color: #44546f;
        border: none;
        border-radius: 8px;

        padding: 6px 12px 6px 8px;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        .plus-icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }

        &:hover {
            background-color: #dfe1e6;
        }
    }
}

.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    input {
        padding: 8px 12px 8px 12px;

        width: 256px;
        height: 56px;

        font-size: 14px;
        line-height: 20px;
        text-align: start;
        letter-spacing: normal;
        border: none;
        border-radius: 8px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
        transition: border-color 0.2s ease-in-out;

        &:focus-visible {
            outline: none;
        }
    }

    .add-card-btn {
        width: 82px;
        height: 32px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: normal;

        background-color: #0c66e4;
        color: #ffff;

        border-radius: 3px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #075cd1;
        }
    }

    .delete-add-card {
        color: #172b4d;
        background: none;
        font-size: 16px;
        border: none;
        padding: 6px 12px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        align-self: flex-start;

        &:hover {
            color: #8b99a5;
        }
    }
}