.app-header {
  display: flex;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  inset: 0;
  justify-content: space-between;
  align-items: center;
  color: #172b4d;
  background-color: #ffffff;
  max-height: 48px;
  padding: 4px;
  font-size: 14px;

  .left-section {
    display: flex;
    align-items: center;

    .menu-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 4px;
      margin-right: 12px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    .icon-container {
      display: flex;
      align-items: center;
      height: 18px;
      gap: 6px;

      svg {
        fill: #44546f;
      }

      .hover-icon {
        fill: #44546f;
        transition: opacity 0.3s ease-in-out;
        animation: moveAnimation 2s infinite;
        width: 100%;
        height: 100%;

        &:hover {
          fill: #0079bf;
        }
      }
    }

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #44546f;
      margin-right: 20px;
      text-decoration: none;
    }

    .create-button {
      color: white;
      background-color: $primary-color;
      padding: 4px 12px;
      border-radius: 3px;
      font-weight: bold;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 7px;

      .nav-item {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        font-weight: 500;

        &:hover {
          background-color: #091e421c;
          color: #44546f;
        }

        svg {
          fill: currentColor;
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #ffffff;
          border: 1px solid #e0e0e0;
          border-radius: 4px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          width: 200px;
          z-index: 10;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
          opacity: 0;
          visibility: hidden;

          &.show {
            opacity: 1;
            visibility: visible;
          }

          .dropdown-item {
            padding: 12px 16px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover {
              background-color: #f4f5f7;
            }
          }
        }
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon-container {
      position: relative;
      display: flex;
      align-items: center;
    }

    .notification-icon {
      margin-top: 3px;
      position: relative;
      cursor: pointer;
    }

    .notification-icon img {
      width: 24px;
      height: 24px;
    }

    .notification-badge {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: rgb(206, 66, 66);
      color: white;
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 12px;
      font-weight: bold;
    }

    .notifications-dropdown {
      position: absolute;
      top: 35px;
      right: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
      width: 300px;
      z-index: 1000;
      max-height: 400px;
      overflow-y: auto;
    }

    .notification-item {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      color: #333;
    }

    .notification-item:last-child {
      border-bottom: none;
    }

    .notification-item:hover {
      background-color: #f5f5f5;
    }

    .search-container {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .search-bar {
      height: 32px;
      width: 100%;
      padding: 0.75rem 0px 0.75rem 30px;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      outline: none;
      border-radius: 5px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid hsla(0, 0%, 100%, 0.16);
      box-shadow: none;
    }

    .icon {
      font-size: 1.25rem;
      cursor: pointer;

      &.notification-icon {
        color: #0079bf;
      }

      &.help-icon {
        color: #0079bf;
      }
    }

    .user-logo {
      width: 24px;
      height: 24px;
      background-color: #0079bf;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background-color: #005a8d;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@keyframes moveAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.hover-icon {
  display: flex;
  align-items: center;
}

.dropdown-item {
  flex: 1;
  color: #172b4d;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  letter-spacing: normal;
  font-size: 14px;
  line-height: 20px;
  width: 18px;
}