.click-screen {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    scrollbar-gutter: stable;

    .card-details-modal {
        height: 866px;
        width: 768px;
        background-color: white;
        border-radius: 8px;
        z-index: 20;

        .card-header {
            display: flex;
            flex-direction: column;
            min-height: 32px;
            gap: 10px;
            padding: 8px 52px 8px 25px;
            position: relative;
            z-index: 1;

            .card-title {
                display: flex;
                align-items: center;
                font-size: 20px;
                gap: 10px;
                padding: 12px 0 0;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .card-group-info {
                font-size: 14px;
                margin: 0 8px 8px 2px;
                padding-left: 33px;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .card-main-col {
            float: left;
            position: relative;
            min-height: 50%;
            width: 70%;
            // background: grey;
            padding: 0 8px 8px 16px;

            .card-detail-data {
                margin-top: 8px;
                margin-left: 20px;
                width: 85%;
                height: 72px;

                .card-detail-item {
                    float: left;
                    margin-right: 8px;

                    h3 {
                        margin: 0;
                        font-size: 12px;
                        margin: 0 14px 8px 0;
                    }

                    .member {
                        float: left;
                        border-radius: 25em;
                        height: 32px;
                        margin: 0 4px 4px 0;
                        width: 32px;
                        border: none;
                        color: white;
                        cursor: pointer;

                        background-color: rgb(45, 81, 199);
                    }

                }
            }

            .card-description {
                display: grid;
                grid-template-columns: 30px 1fr;

                svg {
                    align-self: center;
                    grid-column: 1/2;
                }

                h3 {
                    justify-self: left;
                    grid-column: 2/-1;
                    margin: 0;
                }

                .card-desc-info {
                    grid-column: 2/-1;
                    height: 56px;
                    margin-top: 12px;
                    padding: 8px 12px;
                    background-color: #091e420f;
                }
            }
        }
    }
}