.add-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
        padding: 8px;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .add-group-btn {
        background-color: #0c66e4;
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        border: none;
        padding: 8px;
    }

    .cancel-add-group {
        background-color: #e0e0e0;
        color: #333;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        border: none;
        padding: 8px;
    }
}
 