@media (max-width: 2200px) {

    // CARD-MODAL ~~~~~~~~~~~~~~~~~~~
    .card-details-modal {
        display: grid;
        grid-template-columns: 50px 1fr 192px;
    }

    .click-screen {
        padding: 40px;
    }

    .card-header {
        grid-column: span 3;
    }

    .task-cover {
        grid-column: span 3;
    }

    .top-cover-img {
        grid-column: 1/-1;
    }
}

@media (max-width: 1100px) {

    .main-boards-container {
        .board-list-container {

            .starred-boards-list {
                grid-template-columns: repeat(2, 194px);

            }
        }
    }

}

@media (max-width: 768px) {

    // MAIN-HOMEPAGE ~~~~~~~~~~~~~~~~~~~

    .homepage {
        grid-template-columns: 4px 1fr 4px;

        .homepage-container {
            height: 100%;

            .main-prev {
                align-items: center;
                flex-direction: column;

                .intro {
                    padding: 0;
                }

                .conversation-img {
                    padding-top: 1rem;
                    width: 30rem;
                }
            }
        }

        .productivity-container {
            grid-template-columns: 4px 1fr 4px;
            justify-content: center;

            &>* {
                grid-column: 2/3;
            }

            .productivity-text {
                display: flex;
                justify-content: center;
                text-align-last: center;
                flex-direction: column;
                width: auto;
            }

            .productivity-slider {
                flex-direction: column;

                .cards {
                    text-align-last: center;
                    width: fit-content;
                }
            }

        }

    }

    // BOARD-INDEX ~~~~~~~~~~~~~~~~~~
    .main-boards-container {
        grid-template-columns: 1fr;

        .boards-manu {
            grid-column: 1 / -1;
        }

    }

    // CARD-MODAL ~~~~~~~~~~~~~~~~~~~
    .card-details-modal {
        display: grid;
        grid-template-columns: 50px 1fr;
    }

    .card-sidebar {
        grid-column: span 3;
    }

    .click-screen {
        padding: 15px;
    }

    .task-cover {
        grid-column: span 3;
    }

    .card-main-col {
        grid-column: span 3;
    }
}

@media (max-width: 480px) {

    // HOMEPAGE HEADER ~~~~~~~~~~~~~~~~~~~
    .main-header {
        grid-template-columns: 30px 1fr 30px;

        .right-section {
            display: none;

            &.mobile {
                display: flex;
                position: relative;

                .dropdown-menu {

                    &.active {
                        right: -14px;
                    }
                }

            }
        }

    }


    // HEADER ~~~~~~~~~~~~~~~~~~~
    .app-header {
        .right-section {
            .search-container {
                display: none;
            }
        }
    }

    // MAIN ~~~~~~~~~~~~~~~~~~~
    .homepage {
        overflow-x: hidden;
        grid-template-columns: 2px 1fr 2px;

        .homepage-container {
            .main-prev {
                margin: 5px;

                .intro {
                    h1 {
                        font-size: 2rem;
                    }

                    form {
                        button {
                            padding: 5px;
                            font-size: 0.8rem;
                        }
                    }
                }

                .conversation-img {
                    width: 25rem;
                }
            }

        }

        .productivity-container {
            grid-template-columns: 2px 1fr 2px;

            .productivity-text {
                max-width: 420px;
            }

            .productivity-slider {
                width: 410px;

                .slider {
                    img {
                        width: 410px;
                    }
                }
            }
        }

        .homepage-get-started {
            .sign-up {
                backdrop-filter: contrast(0.7);

                form {
                    h2 {
                        font-size: medium;
                    }

                    button {
                        padding: 0;
                    }
                }
            }
        }

        .main-footer {
            grid-template-columns: 2px 1fr 2px;
            height: auto;



            .upper-footer {
                font-size: 1rem;

                .footer-logo {
                    font-size: 20px;
                }
            }

            .lower-footer {
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    // BOARD-INDEX ~~~~~~~~~~~~~~~~~~
    .main-boards-container {
        margin: 0;
        justify-items: center;

        .board-list-container {

            .starred-boards-list {
                grid-template-columns: repeat(3, 120px);

                li {
                    max-width: 120px;
                }

            }
        }
    }

    // CARD-MODAL ~~~~~~~~~~~~~~~~~~~
    .card-details-modal {
        display: grid;
        grid-template-columns: 50px;
    }

    .top-cover-img {
        grid-column: span 2;
    }

}